@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@600;700&display=swap');

:root {
  --DarkText: hsl(229, 25%, 31%);
  --ScoreText: hsl(229, 64%, 46%);
  --HeaderOutline: hsl(217, 16%, 45%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Barlow Semi Condensed', sans-serif;
}

body {
  background-image: radial-gradient(hsl(214, 47%, 23%), hsl(237, 49%, 15%));
  background-size: cover;
  height: 100vh;
  padding-top: 5rem;
}

.container {
  max-width: 375px;
  margin: auto;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

.hidden {
  display: none;
}

/* ! HEader ----------------------------------------------------- */

header {
  display: flex;
  justify-content: space-between;
  border: 3px solid var(--HeaderOutline);
  padding: 1rem;
  border-radius: 8px;
}

/* Logo container */

.logo_container img {
  width: 120px;
}

/* Score container */
.score_container {
  color: black;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0rem 1.5rem;
  border-radius: 5px;
  box-shadow: 2px 2px 2px black;
}

.score_title {
  color: var(--ScoreText);
  font-size: 0.8rem;
}

.actual_score {
  font-size: 3rem;
  color: var(--DarkText);
  font-weight: 700;
  opacity: 0.9;
}

/*! Options container ---------------------------------------------------*/

.options_container {
  max-width: 375px;
  height: 400px;
  position: relative;
}

.cards {
  width: 120px;
  height: 120px;
  background-color: white;
  position: absolute;
  transition: all 0.5s;
}

.cards:hover {
  cursor: pointer;
  transform: scale(1.2);
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.412);
}

.cards:active {
  transform: scale(1);
  box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.412);
}

/* Classes das opções ---------- */
.paper_container {
  border-radius: 50%;
  top: 80px;
  left: 5%;
  border: 15px solid blue;
  background-color: white;
  background-image: url('./images/icon-paper.svg');
  background-size: 50px;
  background-repeat: no-repeat;
  background-position: center;
}

.scissor_container {
  border: 15px solid hsl(39, 89%, 49%);
  border-radius: 50%;
  top: 80px;
  right: 5%;
  background-image: url('./images/icon-scissor.svg');
  background-size: 50px;
  background-repeat: no-repeat;
  background-position: center;
}

.rock_container {
  border: 15px solid hsl(349, 71%, 52%);
  border-radius: 50%;
  bottom: 10%;
  right: 34%;
  background-image: url('./images/icon-rock.svg');
  background-size: 50px;
  background-repeat: no-repeat;
  background-position: center;
}

/* Fim classes das opções */

.bar {
  height: 15px;
  width: 170px;
  background-color: hsl(237, 49%, 15%);
  position: absolute;
  z-index: -1;
  opacity: 0.6;
}

.bar1 {
  top: 150px;
  left: 100px;
}
.bar2 {
  top: 150px;
  left: 100px;
  transform-origin: right;
  transform: rotate(-60deg);
}
.bar3 {
  top: 150px;
  left: 100px;
  transform-origin: left;
  transform: rotate(60deg);
}

/*! Result Container --------------------------------------------------- */

.player_container,
.house_container {
  width: 120px;
  height: 120px;
  background-color: white;
}

/*! Footer ------------------------------------------------------------ */
footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}

.rules_link {
  text-decoration: none;
  color: white;
  border: 1px solid whitesmoke;
  padding: 0.5rem 2rem;
  border-radius: 5px;
  margin-top: 3rem;
  letter-spacing: 3px;
  /* margin: 4rem; */
}

.jogar-novamente {
  display: none;
  text-decoration: none;
  color: rgb(19, 19, 74);
  padding: 0.8rem 3.5rem;
  border-radius: 5px;
  letter-spacing: 2px;
  background-color: white;
  position: absolute;
  top: -40px;
}

/* ! Result container ------------------------------------------------------ */
.result_container {
  display: none; /* Irá ser trocado de forma dinâmica pelo javascript */
  align-items: center;
  justify-content: center;
  max-width: 375px;
  row-gap: 50px;
  flex-direction: column;
  height: 400px;
}

.result_container h2 {
  text-align: center;
  margin-top: 1rem;
  color: whitesmoke;
}

.sides {
  display: flex;
  column-gap: 60px;
}

.result-message {
  display: flex;
  flex-direction: column;
  color: white;
  font-size: 2rem;
}

.left-side,
.right-side {
  position: relative;
}

.crow-left,
.crow-right {
  width: 80px;
  position: absolute;
  transform-origin: left;
  left: 17%;
  top: -45%;
  /* transform: translateY(-50px); */
  display: none;
  animation: dropCrow 1s linear;
}

/* ! Animações ---------------------------------------- */
@keyframes dropCrow {
  from {
    transform: translateY(-50px);
  }
  to {
    transform: translateY(0);
  }
}

/* .crow-right.active {
  transform: translateY(0);
  opacity: 1;
}

.crow-left.active {
  transform: translateY(0);
  opacity: 1;
} */ ;
